.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Error: GH001: Large files detected. 
# File  data/allreefs_gcc.geojson is 104.36 MB; 
# this exceeds GitHub's file size limit of 100.00 MB
# ingore it; other versions are present

data/allreefs_gcc.geojson